
.flex-container{
    display:flex;
    justify-content:space-between;
    
}
img{
    width:400px;
}
body{ 
    color: rgb(255, 255, 255);
    font-family: "amandine", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 58px;
    font-weight: 900;
    background-image: url(imgs/map.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    text-align: center
   
}

#train{
    margin-left: 300px
}

#rain {
    margin-left:100px
}
#birds {
    margin-left:500px;
    width:800px;
}

#walk{
    width:100vw;
}


.homepage{
    height:20px;
    width:150px;
    font-size: 10px;
    font-family: "roboto", sans-serif;
    color: black;
  font-weight: 700;
  font-style: normal;
    background-color:rgb(255, 255, 255);
  }

  
@media all and (max-width: 800px) {
    body{
      font-size: 60px;
      color: rgb(203, 233, 255)
    }
    img{
    width:200px;
    }
    #birds{
        width: 300px;
        margin-left:100px
    }
}
.box1{
    transition: opacity 3s;
}
.box1:hover {
    opacity: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;   
}
