

.video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgs{
   width:5px;
   height:5px
}

.title{
    text-align: center;
    font-size: 50px;
    color:white
}


section {
    display:  flex;
    flex-direction:  column;
    justify-content: center;
    align-items:  center;
    height:  10vh;
    margin-top: 300px
  }

.generalButton {
    padding: 20px 20px;
    border-radius: 30px;
    background-color:  white;
    color:  black;
  font-family: 'roboto';
  font-weight: 400;
  font-style: normal;
    font-size: 20px;
    text-align:  center;
    transition:  all 0.5s;
  }
  
  .generalButton:hover {
    background-color: rgba(81, 217, 255, 0.594);
    cursor:  pointer;
  }
  
  .generalButtonOn {
    background-color:  black;
    color:  white;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.one{
    font-size: 30px;
    font-family: "roboto", sans-serif;
  font-weight: 600;
  font-style: normal;

}
  a:link {
    color: pink;
  }
  
  /* visited link */
  a:visited {
    color: rgb(122, 242, 122);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 0, 225);
  }
  .button{
    font-size: 20px;
    font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(36, 128, 164);
  }

  #entry1{
    margin-left:5vw
  }

  #entry2{
    margin-left:70vw
  }
  #entry3{
    margin-left:50vw
  }
  #entry4{
    margin-left:30vw
  }#entry5{
    margin-left:10vw
  }#entry6{
    margin-left:75vw
  }#entry7{
    margin-left:50vw
  }
  #entry8{
    margin-left:30vw
  }#entry9{
    margin-left:70vw
  }#entry10{
    margin-left:15vw
  }#entry11{
    margin-left:50vw
  }