

.video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgs{
   width:5px;
   height:5px
}

.title{
    text-align: center;
    font-size: 50px;
    color:white
}


section {
    display:  flex;
    flex-direction:  column;
    justify-content: center;
    align-items:  center;
    height:  10vh;
    margin-top: 300px
  }

.generalButton {
    padding: 20px 20px;
    border-radius: 30px;
    background-color:  white;
    color:  black;
  font-family: 'tuppence', serif;
  font-weight: 400;
  font-style: normal;
    font-size: 20px;
    text-align:  center;
    transition:  all 0.5s;
  }
  
  .generalButton:hover {
    background-color: rgba(81, 217, 255, 0.594);
    cursor:  pointer;
  }
  
  .generalButtonOn {
    background-color:  black;
    color:  white;
  }
  

